@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes slideIn {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes slideOut {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

#ScreenNavigator {
    transition: width 0.5s ease-in-out;
}

#ScreenNavigator:not(.hidden) {
  animation: slideIn 0.5s forwards;
}
#ScreenNavigator.hidden {
  animation: slidOut 0.5s forwards;
}
